{{ include("layouts/header.html.twig") }}

<h3> </h3>


<h2 class="page-header"> Edit</h2>

    <img src="{{ absolute_url(asset( product_img)) }}">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
 
</div>
{{ include("layouts/footer.html.twig") }}



